/* universal Selectors */

#max {
    color: rgb(4, 4, 104);
  }
  
  #message-404 {
      color: red;
  }
  
  #uv-green {
    background-color: green;
    color: white;
  }
  
  #uv-yellow {
    background-color: yellow;
  }
  
  #uv-orange {
    background-color: orange;
  }
  
  #uv-red {
    background-color: red;
  }
  
  #uv-purple {
    background-color: purple;
    color: white;
  }